.placeno {
  background-color: rgb(161, 225, 115);
}
body {
  background-color: rgb(215, 238, 203);
  color: tomato;
}

h4{
  font-size: 34px;
}

.jumbotron {
  background-color: green;
  color: yellow;
}
